{% extends "base.html" %}
{% block content %}
<div class="text-center py-20">
    <div class="bg-green-100 text-green-600 w-20 h-20 rounded-full flex items-center justify-center mx-auto mb-6 text-4xl">
        <i class="fa fa-check"></i>
    </div>
    <h1 class="text-3xl font-black text-slate-800 mb-4">پرداخت با موفقیت انجام شد!</h1>
    <p class="text-slate-600 mb-8">شماره سفارش شما: <b>{{ order.id }}#</b></p>
    <a href="{% url 'catalog:book_list' %}" class="bg-indigo-600 text-white px-8 py-3 rounded-xl font-bold">بازگشت به فروشگاه</a>
</div>
{% endblock %}>