{% extends "base.html" %}
{% block content %}
<div class="max-w-md mx-auto my-10 bg-white p-8 rounded-3xl shadow-2xl border border-slate-100">
    <div class="text-center mb-8">
        <h2 class="text-2xl font-bold text-slate-800">درگاه پرداخت امن</h2>
        <p class="text-slate-500">مبلغ قابل پرداخت: {{ order.get_total_cost }} تومان</p>
    </div>

    <form method="post" class="space-y-6">
        {% csrf_token %}
        <div>
            <div>
    <label class="block text-sm font-medium text-slate-700 mb-2">شماره ۱۶ رقمی کارت</label>
    <input type="text"
           pattern="\d{16}"
           maxlength="16"
           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
           placeholder="1234567812345678"
           required
           class="w-full p-4 border rounded-xl bg-slate-50 text-center tracking-[0.3em] outline-none focus:ring-2 focus:ring-indigo-500 font-mono">
       <p class="text-xs text-slate-400 mt-1">فقط ۱۶ رقم عدد وارد کنید.</p>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div>
                <label class="block text-sm font-medium text-slate-700 mb-2">رمز دوم (CVV2)</label>
                <input type="password" placeholder="***" class="w-full p-4 border rounded-xl bg-slate-50 text-center outline-none">
            </div>
            <div>
                <label class="block text-sm font-medium text-slate-700 mb-2">تاریخ انقضا</label>
                <input type="text" placeholder="12/04" class="w-full p-4 border rounded-xl bg-slate-50 text-center outline-none">
            </div>
        </div>

        <button type="submit" class="w-full bg-indigo-600 text-white py-4 rounded-xl font-bold text-lg hover:bg-indigo-700 transition shadow-lg">
            تایید و پرداخت نهایی
        </button>
    </form>
</div>
{% endblock %}